In [1]:
import pandas as pd

So basically, I went to wikipedia page and copied the table and used pd.read_clipboard() function so import the data into a dataframe. Quick and Easy method!

In [17]:
df = pd.read_clipboard()

/anaconda3/lib/python3.6/site-packages/pandas/io/clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [18]:
df.head(5)

  Postcode            Borough      Neighbourhood
0      M1A       Not assigned       Not assigned
1      M2A       Not assigned       Not assigned
2      M3A         North York          Parkwoods
3      M4A         North York   Victoria Village
4      M5A   Downtown Toronto       Harbourfront

Next step -->Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [22]:
df.columns

Index(['Postcode ', 'Borough ', 'Neighbourhood'], dtype='object')

In [23]:
df = df[df['Borough '] != 'Not assigned ']

Next step -->More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

Now we are going to clean the data..

In [29]:
df1 = df

In [31]:
df1.columns = ['postcode','borough','neighbourhood']

In [35]:
df1.head(10)

   postcode            borough     neighbourhood
2      M3A         North York          Parkwoods
3      M4A         North York   Victoria Village
4      M5A   Downtown Toronto       Harbourfront
5      M5A   Downtown Toronto        Regent Park
6      M6A         North York   Lawrence Heights
7      M6A         North York     Lawrence Manor
8      M7A       Queen's Park       Not assigned
10     M9A          Etobicoke   Islington Avenue
11     M1B        Scarborough              Rouge
12     M1B        Scarborough            Malvern

In [44]:
df1['postcode'] = df1['postcode'].astype(str)
df1['borough'] = df1['borough'].astype(str)
df1['neighbourhood'] = df1['neighbourhood'].astype(str)

In [49]:
df1['postcode'] = df1['postcode'].apply(lambda x:x.lower())
df1['borough'] = df1['borough'].apply(lambda x:x.lower())
df1['neighbourhood'] = df1['neighbourhood'].apply(lambda x:x.lower())

In [50]:
df1['postcode'] = df1['postcode'].apply(lambda x:x.strip())
df1['borough'] = df1['borough'].apply(lambda x:x.strip())
df1['neighbourhood'] = df1['neighbourhood'].apply(lambda x:x.strip())

In [84]:
df1[df1['neighbourhood'] == 'not assigned']

Empty DataFrame
Columns: [postcode, borough, neighbourhood]
Index: []

In [124]:
df1.to_csv('test1.csv')

Job of a data scientist is not getting hung onto one solution for a long time, since I was not able to come up with
python, I went to Microsoft Excel and completed the concatenation and import the file back into jupyter notebook

In [125]:
df2 = pd.read_clipboard()

/anaconda3/lib/python3.6/site-packages/pandas/io/clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [126]:
df2

             borough                                      neighbourhood
0    central toronto  davisville,davisville north,deer park,forest h...
1   downtown toronto  adelaide,bathurst quay,berczy park,cabbagetown...
2       east toronto  business reply mail processing centre 969 east...
3          east york  east toronto,leaside,parkview hill,thorncliffe...
4          etobicoke  albion gardens,alderwood,beaumond heights,bloo...
5        mississauga              canada post gateway processing centre
6         north york  bathurst manor,bayview village,bedford park,cf...
7       queen's park                                       queen's park
8        scarborough  agincourt,agincourt north,birch cliff,cedarbra...
9       west toronto  brockton,dovercourt village,dufferin,exhibitio...
10              york  caledonia-fairbanks,del ray,humewood-cedarvale...

In [127]:
df2.shape

(11, 2)